<div class="ArtworkWithPosts container">
  <div class="row">
    <div class="col-lg-6 mt-5">
      {% include posts-feed.html is_latest=true %}
    </div>
    <div class="col-lg-6 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="tight small">
              Featured Artwork
            </h3>
          </div>
        </div>
        <hr class="mt-0">
        {% include featured-artwork.html %}
      </div>  
    </div>
  </div>
</div>
