{% if post %}
  <div class="PageStream__item">
    <h3 class="Feed__Posts-latest-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h3>
    {% if post.summary or post.sub-title %}
      <div class="Feed__Posts-latest-summary">
        <p>
          {% if post.summary %}
            {{ post.summary | truncatewords: 50 }}
          {% elsif post.sub-title %}
            {{ post.sub-title | trunactewords: 50 }}
          {% endif %}
        </p>
      </div>
    {% else %}
      <div class="Feed__Posts-latest-excerpt">
        <p>
          {{ post.excerpt | truncatewords: 50 }}
        </p>
      </div>
    {% endif %}
    <div class="Feed__Posts-latest-metadata">
      <div class="Feed__Posts-date">
        {{ post.date | date: "%b %-d, %Y" }}
        {% if post.author %}
          <span class="Feed__Posts-author {{ post.layout }}">
            <span class="author-name">
              {{ post.author }}
            </span>
          </span>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
