{% assign paths = site.discourse.paths %} {% assign endpoint =
site.discourse.endpoint %} {% assign toolsEndpoint = site.tools.endpoint %} {%
assign toolsPaths = site.tools.paths %} {% assign headerLinks =
site.header_links%}

<dc-header
  logo="https://cdn.jsdelivr.net/npm/@debtcollective/dc-header-component/dist/header/assets/logo.png"
  logosmall="https://cdn.jsdelivr.net/npm/@debtcollective/dc-header-component/dist/header/assets/logo-small"
  donateurl="https://debtcollective.org/donate"
  links="{{headerLinks | jsonify | escape}}"
></dc-header>
