<header class="SiteHeader SiteHeader__hero" role="banner">
  <div class="SiteHeader__tag">The latest from</div>
  <div class="SiteHeader__title tight">The Power Report</div>
  <div class="SiteHeader__stroke stroke"></div>
    

  <div class="SiteHeader__nav">
    <div class="SiteHeader__nav-buttons">
      <a href="/news-analysis" class="btn btn-outline-white">News Analysis</a>
      <a href="/reports" class="btn btn-outline-white">Special Reports</a>
      <a href="/profiles" class="btn btn-outline-white">Member Profiles</a>
      <a href="https://soundcloud.com/the-debt-collective" rel="noopener noreferrer" target="_blank" class="btn btn-outline-white">Podcast</a>
    </div>

    <div class="SiteHeader__nav-dropdown">
      <button class="btn btn-outline-white" id="hero-sections-dropdown" data-toggle="dropdown" aria-haspopup="true">
        Sections
        <i class="fas fa-angle-down"></i>
      </button>
      <div class="SiteHeader__dropdown dropdown-menu dropdown-menu-center" aria-labelledby="hero-sections-dropdown">
        <a href="/news-analysis" class="dropdown-item">News Analysis</a>
        <a href="/reports" class="dropdown-item">Special Reports</a>
        <a href="/profiles" class="dropdown-item">Member Profiles</a>
        <a href="https://soundcloud.com/the-debt-collective" rel="noopener noreferrer" target="_blank" class="dropdown-item">Podcast</a>
      </div>
    </div>
  </div>

</header>