{% if post %}
  <li class="Feed__Posts-latest-list-item pt-1">
    <h5 class="Feed__Posts-latest-list-item-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h5>
    <div class="Feed__Posts-latest-metadata">
      <div class="Feed__Posts-date">
        {{ post.date | date: "%b %-d, %Y" }}
        {% if post.author %}
          <span class="Feed__Posts-author">
            {{ post.author }}
          </span>
        {% endif %}
      </div>
    </div>
  </li>
{% endif %}