<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="tight small">
        Special Reports
      </h3>
    </div>
  </div>
  
  <hr class="mt-0">

  {% assign collection = site.posts %}
  {% assign prop = 'layout' %}
  {% assign match = 'special-report' %}
  {% include filter-collection-where-prop-equals.html %}
  {% assign posts = filtered_collection %}

  {% for post in posts %}
    {% case forloop.index %}
      {% when 1 or 2 or 3 %}
        <div class="row">
          <div class="col-12">
            {% include posts-feed-item.html %}
          </div>
        </div>
    {% endcase %}
  {% endfor %}
</div>
