<div class="Feed Feed__Profiles container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <h3 class="Feed__title tight">Who is the Debt Collective?</h3>
    </div>
    <div class="col-md-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
      <a href="/profiles" class="btn btn-outline-light float-right">
        Member Profiles
        <i class="fas fa-angle-right"></i>
      </a>
    </div>
  </div>
  
  <hr class="mt-0"/>

  <div class="row">
    <div class="col-lg-7 mb-3">
      {% assign video = site.profiles | where: "categories", "video" | last %}

      <!-- Used by embed-video to add the headline to the video description -->
      {% assign headline = "Latest Video Profile" %}
      <h4 class="d-xl-none d-lg-none d-md-block d-sm-block d-block">{{headline}}</h4>
      {% include embed-video.html %}
    </div>

    <div class="col-lg-5">
      <div class="Feed__Profiles__latest">
        <h4 class="Feed_Profiles__latest-headline">Latest Member Interviews</h4>
        {% assign profiles = site.profiles | where: "categories", "profile" | reverse %}

        <ul class="Feed__Profiles__latest-list">
          {% for profile in profiles %}
            {% case forloop.index %}
              {% when 1 or 2 %}
                {%- include profiles-feed-item.html -%}
            {% endcase %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 d-xl-none d-lg-none d-md-flex d-sm-flex d-flex justify-content-center">
      <a href="/profiles" class="btn btn-outline-light">
        More Member Profiles
      </a>
    </div>
  </div>
</div>