<div class="Profiles__BigFeed-item my-5">
  {% if profile.rotate-picture-right %}
    <div class="Profiles__BigFeed-item-picture rotate-right float-left" style="background-image: url('{{ profile.interviewee-picture | escape }}');"></div>
  {% else %}
    <div class="Profiles__BigFeed-item-picture float-left" style="background-image: url('{{ profile.interviewee-picture | escape }}');"></div>
  {% endif %}
  <div>
    <h5 class="Profiles__BigFeed-item-name">
      <a href="{{ profile.url | relative_url }}">{{profile.title}}</a>
    </h5>
    <div class="Profiles__BigFeed-item-sub-title">
      {{ profile.sub-title }}
    </div>
    <div class="Profiles__BigFeed-item-metadata">
      {%- assign date_format = "%b %-d, %Y" -%} {{ profile.date | date: date_format }}
      <div class="Profiles__BigFeed-item-metadata-interviewer d-sm-inline-block d-xs-inline-block">
        {{ profile.author }}
      </div>
    </div>
  </div>
</div>
