<header class="SiteHeader SiteHeader__small" role="banner">
  <h3 class="SiteHeader__title tight">The Power Report</h3>

  <div class="SiteHeader__nav d-none d-sm-none d-md-none d-lg-inline-block">
    <a href="/news-analysis" class="btn btn-outline-white">News Analysis</a>
    <a href="/reports" class="btn btn-outline-white">Special Reports</a>
    <a href="/profiles" class="btn btn-outline-white">Member Profiles</a>
    <button type="button" class="btn btn-outline-white" id="more-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      More
      <i class="fas fa-angle-down"></i>
    </button>
    <div class="SiteHeader__dropdown dropdown-menu dropdown-menu-right" aria-labelledby="more-dropdown-button">
      <a href="#" class="dropdown-item">More 1</a>
      <a href="#" class="dropdown-item">More 2</a>
      <a href="#" class="dropdown-item">More 3</a>
    </div>
  </div>

  <div class="SiteHeader__sections d-inline-block d-lg-none dropdown">
    <button type="button" class="btn btn-outline-white" id="sections-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sections
      <i class="fas fa-angle-down"></i>
    </button>
    <div class="SiteHeader__dropdown dropdown-menu dropdown-menu-right" aria-labelledby="sections-dropdown-button">
        <a class="dropdown-item" href="/news-analysis">News Analysis</a>
        <a class="dropdown-item" href="/reports">Special Reports</a>
        <a class="dropdown-item" href="/profiles">Member Profiles</a>
      </div>
  </div>
</header>