<div class="Profiles__video-feed container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="EmbedVideo">
        {% assign videos = site.profiles | reverse %}
        {% assign video = videos | first %}
        <div class="EmbedVideo__details" id="video-details">
          <div class="EmbedVideo__title">
            <a href="{{video.url | relative_url}}" class="nostyle">{{video.title}}</a>
          </div>
          <div class="EmbedVideo__description">
            {{video.video-description}}
          </div>
        </div>

        <div class="plyr__video-embed" id="plyr-video">
          <iframe src="https://www.youtube.com/embed/{{video.youtube-id}}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
        </div>
      </div>
    </div>

    <script>
      (function() {
        var player = new Plyr('#plyr-video');
        player.on('ready', function (e) {
          e.detail.plyr.poster = 'https://img.youtube.com/vi/{{video.youtube-id}}/hqdefault.jpg';
          var details = $('#video-details');
          details.css('display', 'inline-block');
          $('#plyr-video .plyr__controls').prepend(details[0]);
        })
      })()
    </script>

    <div class="Profiles__video-feed-items col-md-4">
      {% for video in videos %}
        {% if forloop.index != 1 %}
          <a
            href="{{video.url | relative_url}}"
            class="VideoSelector nostyle"
            style="background-image: url('https://img.youtube.com/vi/{{video.youtube-id}}/hqdefault.jpg');">
            <div class="EmbedVideo__details">
              <div class="EmbedVideo__title">
                {{video.title}}
              </div>
              <div class="EmbedVideo__description">
                {{video.video-description}}
              </div>
            </div>
          </a>
        {% endif %}
        <!-- <button
          class="VideoSelector"
          type="button"
          data-video-id="{{video.youtube-id}}"
          data-title="{{video.title}}"
          data-description="{{video.video-description}}"
          data-url="{{video.url | relative_url}}"
          onclick="location = this.dataset.url"
          style="background-image: url('https://img.youtube.com/vi/{{video.youtube-id}}/hqdefault.jpg');">
          {{video.title}}
        </button> -->
      {% endfor %}
    </div>
  </div>
</div>
