.Feed {
  margin-top: 5rem;

  &__Profiles {
    &__latest {
      &-headline {
      }
      &-list {
        list-style: none;
        padding: 0;
        margin-top: 2rem;
        &-item {
          margin-bottom: 2rem;
          &-picture {
            $base-width: 6.375rem;
            $base-height: 7.625rem;
            width: $base-width;
            height: $base-height;
            background-color: $text-3;
            margin-right: 1rem;
          }
          &-name {
            padding-top: 0.25rem;
          }
          &-sub-title {
            font-weight: 400;
            font-style: italic;
          }
          &-metadata {
            padding-top: 0.25rem;
            font-size: $font-size-base * 0.75;
            color: $text-2;
            &-interviewer {
              padding-left: 2rem;
            }
          }
        }
      }
    }
    &__video {
      &-wrapper {
        position: relative;
      }
      &-details {
        opacity: 1;
        display: none;
        position: absolute;
        text-align: left;
        padding-right: 2rem;
        top: -17.5rem;

        @include only-large {
          top: -13.5rem;
        }
        @include only-medium {
          top: -4.5rem;
        }
        @include only-small {
          top: -4.5rem;
        }

        &.dark {
          color: $very-white;
        }

        &.light {
          color: $text-0;
        }
      }
      &-headline {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 9.5rem;
        @include only-large {
          margin-bottom: 7.5rem;
        }
        @include only-medium {
          margin-bottom: 2.5rem;
        }
        @include only-small {
          margin-bottom: 2.5rem;
        }
      }
      &-title {
        font-size: 1.5rem;
        font-weight: 900;
      }
      &-description {
        font-size: 1rem;
        font-style: italic;
        line-height: 1.3;
      }
      &-title,
      &-description {
        padding-left: 0.5rem;
      }
    }
  }

  &__Posts {
    &-special-report-head {
      color: $principal-green;
      text-transform: uppercase;
      line-height: 1.3;
      letter-spacing: 0.03rem;
    }

    &-latest {
      &-metadata {
        padding-top: 0.25rem;
        font-size: $font-size-base * 0.75;
        color: $text-2;
      }

      &-list {
        list-style: none;
        padding: 0;
        @include at-least-medium {
          padding-top: 2rem;
        }

        &-item {
          @include only-less-large {
            margin: 3rem 0;

            &-title {
              font-size: $h3-font-size;
            }
          }
        }
      }
    }

    &-date {
      font-weight: 600;
    }

    &-author {
      padding-left: 1rem;
      font-weight: 400;
      font-size: $font-size-base * 0.85;
    }
  }

  &__title {
    font-size: $font-size-base * 3.25;
  }
}

.plyr--full-ui {
  border-radius: 4px;

  input[type="range"] {
    color: $principal-green;
  }
}

.plyr__control--overlaid {
  background-color: $principal-green;
  opacity: 0;
  &:hover {
    opacity: 1;
    background-color: lighten($principal-green, 10%);
  }
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus,
.plyr--video .plyr__controls .plyr__control:hover,
.plyr--video .plyr__controls .plyr__control[aria-expanded="true"] {
  background-color: lighten($principal-green, 10%);
}
