.Profiles {
  &__title {
    font-size: $font-size-base * 3.75;
    padding-left: $font-size-base * 1.5;
    padding-top: $font-size-base * 0.25;
    @include only-x-small() {
      font-size: $font-size-base * 2;
    }
    @include only-less-medium() {
      padding-left: $font-size-base * 0.5;
    }
  }

  &__video-feed {
    margin-top: 1.5rem;
    @include only-less-small {
      margin-top: 0.5rem;
    }
    background-color: $text-0;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

    video {
      max-height: 30.125rem;
    }

    .Profiles__video {
      &-wrapper {
        max-width: 60rem;
        @include at-least-medium {
          min-width: 60rem;
          margin: auto;
        }
      }
      &-details {
        opacity: 1;
        display: none;
        position: absolute;
        text-align: left;
        padding-right: 2rem;
        top: -4.5rem;

        @include only-less-small {
          top: 0rem;
        }

        &.dark {
          color: $very-white;
        }

        &.light {
          color: $text-0;
        }
      }
      &-title {
        font-size: 1.5rem;
        font-weight: 900;
      }
      &-description {
        font-size: 1rem;
        font-style: italic;
        line-height: 1.3;
        max-width: 45rem;
        @include only-less-small {
          display: none;
        }
      }
      &-title,
      &-description {
        padding-left: 0.5rem;
      }
    }
  }
  &__BigFeed {
    &-wrapper {
      max-width: 52rem;
      margin: auto;
    }
    &-item {
      &-picture {
        height: 12rem;
        width: 9rem;
        background-color: $text-3;
        margin-right: 2rem;
        margin-bottom: 3rem;
      }

      &-name {
        padding-top: 2rem;
        @include only-less-medium {
          padding-top: 1rem;
        }
      }
      &-sub-title {
        font-weight: 400;
        font-style: italic;
      }
      &-metadata {
        padding-top: 0.25rem;
        font-size: $font-size-base * 0.75;
        color: $text-2;
        &-interviewer {
          @include at-least-x-small {
            padding-left: 2rem;
          }
        }
      }
    }
  }
}
