@mixin profiles-feed {
  &__Profiles {
    &__latest {
      &-headline {
      }
      &-list {
        list-style: none;
        padding: 0;
        margin-top: 2rem;
        &-item {
          margin-bottom: 2rem;
          &-picture {
            $base-width: 6.375rem;
            $base-height: 7.625rem;
            width: $base-width;
            height: $base-height;
            background-color: $text-3;
            margin-right: 1rem;
          }
          &-name {
            padding-top: 0.25rem;
          }
          &-sub-title {
            font-weight: 400;
            font-style: italic;
          }
          &-metadata {
            padding-top: 0.25rem;
            font-size: $font-size-base * 0.75;
            color: $text-2;
            &-interviewer {
              padding-left: 2rem;
            }
          }
        }
      }
    }
  }
}
