@mixin profiles-feed {
  &__Profiles {
    &__latest {
      &-headline {
      }
      &-list {
        list-style: none;
        padding: 0;
        margin-top: 2rem;
        &-item {
          margin-bottom: 2rem;
          &-picture {
            $base-width: 6.375rem;
            $base-height: 7.625rem;
            width: $base-width;
            height: $base-height;
            background-color: $text-3;
            margin-right: 1rem;
          }
          &-name {
            padding-top: 0.25rem;
          }
          &-sub-title {
            font-weight: 400;
            font-style: italic;
          }
          &-metadata {
            padding-top: 0.25rem;
            font-size: $font-size-base * 0.75;
            color: $text-2;
            &-interviewer {
              padding-left: 2rem;
            }
          }
        }
      }
    }
    &__video {
      &-wrapper {
        position: relative;
      }
      &-details {
        opacity: 1;
        display: none;
        position: absolute;
        text-align: left;
        padding-right: 2rem;
        top: -17.5rem;

        @include only-large {
          top: -13.5rem;
        }
        @include only-medium {
          top: -4.5rem;
        }
        @include only-small {
          top: -4.5rem;
        }

        &.dark {
          color: $very-white;
        }

        &.light {
          color: $text-0;
        }
      }
      &-headline {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 9.5rem;
        @include only-large {
          margin-bottom: 7.5rem;
        }
        @include only-medium {
          margin-bottom: 2.5rem;
        }
        @include only-small {
          margin-bottom: 2.5rem;
        }
      }
      &-title {
        font-size: 1.5rem;
        font-weight: 900;
      }
      &-description {
        font-size: 1rem;
        font-style: italic;
        line-height: 1.3;
      }
      &-title,
      &-description {
        padding-left: 0.5rem;
      }
    }
  }
}
